<div class="card">
    <div class="card__img">
        <img [src]="photo" [alt]="photo" title="photo">
    </div>
    <div class="card__info">
        <div class="card__info_name">{{ name }}</div>
        <div class="card__info_job">
            <p>{{ jobOrganization }}</p>
            <p>{{ jobDepartment }}</p>
            <p>{{ jobStatus }}</p>
        </div>
        <div class="card__contact">
            <a [href]="'tel:' + tel">{{ tel }}</a>
            <a [href]="'mailto:' + email">{{ email }}</a>
        </div>
    </div>
</div>